<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#mainForm{
    min-width: 60%;
    min-height: 40vh;
    height: auto;
    width: auto;
    margin: 9vh .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 1.5rem;
    padding:.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
label{
    font-size: 1.5rem;
    font-weight: 600;
}
input{
    width: 15rem;
    height: 2rem;
}
button{
    width: 7rem;
    height: 2.5rem;
    border-radius: .5rem;
}
</style>

<body>
    <h1>Welcome to Screen Notes</h1><br><br><br><br>

    <h3>Your pin is <%= pin %></h3>
    
    <div id="mainForm">
        <form action="/api/v1/info/show" method="GET" enctype="multipart/form-data">
            <label for="pin">PIN:</label>
            <input type="password" id="pin" name="pin" required><br><br>
    
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>